In [1]:
import numpy as np
import pandas as pd

In [32]:
# Load data and create dataframe
phi = np.load("Phi_201snap.npy")
df = pd.DataFrame(index=np.arange(201), columns=np.arange(2))
df.rename(columns={0: 'norm32', 1: 'norm16'}, inplace=True)

for i in range(201):
    arr = phi[:,:,i]
    
    # Convert to 32b then 64b
    arr32 = np.float64(np.float32(arr))

    # Convert to 16b then 64b
    arr16 = np.float64(np.float16(arr))

    # Compute norms and add to dataframe
    norm32 = np.linalg.norm(arr - arr32)
    norm16 = np.linalg.norm(arr - arr16)
    df.at[i, 'norm32'] = norm32
    df.at[i, 'norm16'] = norm16

df

       norm32    norm16
0         0.0  0.000001
1         0.0       0.0
2         0.0       0.0
3         0.0       0.0
4         0.0       0.0
..        ...       ...
196       0.0  0.004012
197  0.000001  0.004319
198  0.000001  0.005209
199  0.000001  0.005853
200  0.000001  0.007262

[201 rows x 2 columns]

In [28]:
example = phi[:,:,160]
y = np.float64(example)
z = np.float32(example)
np.array_equal(example, y), np.array_equal(example, z)

(True, False)